<div class="container mt-4 mb-5" data-controller="async-image-loader">
  <h1 class="mb-3">Chambres disponibles</h1>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
    <% @rooms.each do |room| %>
      <div class="col">
        <div class="card card-with-margin" style="width: 18rem;">
          <%= image_tag room.photo, class: "card-img-top img-fluid img-size async-image", data: { room_photo: room.photo } %>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title text-center mb-3"><%= room.hotel.name %></h4>
            <div class="d-flex justify-content-between">
              <%= link_to "Détails", room_path(room), class: "btn btn-light custom-bg-color" %>
              <h5 class="card-title mt-2"><%= room.price_per_night %>€ / nuit</h5>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

